body {
	background-color: #bfbfbf;
}
.content-wrapper{
	width: 708px;/*769*/
	height: 954px; /*1024*/
	margin: 0 auto; 
	padding: 50px 20px 20px 40px;
	background: #eee; 
	background: linear-gradient(180deg, #EFEFEF, #D1D1D1);
	box-shadow: 0 0 2px 2px #aeaeae ;
}
header{
	height:80px;
	border-bottom: 1px solid #e84822;
}
h1{
	margin-top: 34px;
	color: #e84822;
	font: normal 30px/1.2em Arial;
	letter-spacing: 0.015em;
	float: left;
}
header img{
	float: right;
}
.main-navigation{
	float: left;
	width: 140px;
    margin-top: 111px;
}
.main-navigation li{
	padding-left: 21px;
	margin-bottom: 1px;
	font: normal 18px/46px Arial;
	color: #565656;
	background-image: -webkit-linear-gradient(top, rgba(160,160,160,1), rgba(238,238,238,1) 38%, rgba(238,238,238,1) 57%, rgba(160,160,160,1));
	cursor: pointer;
}
.main-navigation li.active{
	position: relative;
	color:#eeeeee;
	background: #ff6f26;
	border: 1px solid #bf6838;
	border-right: none;
	line-height: 44px;
}
/*http://apps.eky.hk/css-triangle-generator/*/
.main-navigation li.active::before,
.main-navigation li.active::after{
	content: "";
	position: absolute;
	left: 100%;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent transparent transparent #007bff;
}
.main-navigation li.active::before{
	top: -1px;
	border-width: 21px 0 25px 30px;
	border-left-color: #bf6838;
}
.main-navigation li.active::after{
	border-width: 20px 0 24px 29px;
	border-left-color: #ff6f26;
}

/*
	дальше лень было, пересмотрел в общем
	
	старайся групировать одинаковые стили так
	
.first,
.third{
	height: 36px;
}
.first{
	background-color: #cee2f4;
}
.third{
	background-color: #ecd29f;
}

*/

.tab-list{
	margin: 34px -2px 30px 0; /*как можно меньше минусовых маржинов, только есть крайняя необходимость*/
	padding: 44px 22px 20px 44px;
	width:502px;
	height:731px;
	background: #a6948b;
	background: linear-gradient(180deg, #a6948b, #97867d);
	float: right;
	border-radius:10px; 
}
.tab{
	width: 502px;
	position: absolute;

}
.tab h2{
	margin-left: -3px;/*!*/
	color: #7f1d19;
	font: bold 20px Arial; 
	margin-bottom: 15px;
}
.tab1_title{
	color:#eeeeee;
	font: normal 14px Arial;
	margin-bottom: 14px;
}
.tab1_title a{
	color: #eeeeee;
}
.tab table{
	width: 496px;
	border:1px solid #f1f1f1;
	color: #ffffff;
	font: normal 12px Arial;

}
.tab thead{
	background-color: #7f423f;
	font-size: 14px;
}
.tab tbody tr{
    height: 70px;
}
.tab thead tr{
	height: 36px;
}
.tab tbody tr:first-child{
	height: 60px
}
.tab tbody tr:last-child{
	height: 72px
}
.tab td{
    border: 1px solid #f1f1f1;
    text-align: center;
}
.tab tbody tr td:first-child{
    width: 106px;
}
.tab tbody tr td:last-child{
	width: 103px;
	padding: 0 6px 0 8px;
    text-align: left;
    font-size: 10px;
}
.tab tbody tr td:nth-last-child(2){
	width: 101px;
}
.cube{
	border: 1px solid #dadada;
	margin: 0 29px 0 32px;
	height: 36px;
	padding: 1px;
	background-color: #ffffff;
}
.first,
.third{
	height: 36px;
}
.first{
	background-color: #cee2f4;
}
.third{
	background-color: #ecd29f;
}
.tab{
   	font: 14px Arial;
    visibility: hidden;
}
.tab p{
	color: #eeeeee;
}
.tab article p.first-letter:first-letter{
	color: 	#ff3b32;
	font-size: 24px;
	vertical-align:-4px;
	line-height: 0.5;
} 
.indent{
	text-indent: 36px;
}
.tab article img.some-class{ /*img[alt="img1"] так нельзя делать, технически можно использовать, но это это плохой код*/
	margin-top: 44px;
	box-shadow: 6px 6px 5px 1px #262220;
}
.tab{
  visibility: hidden;
}
.tab article{
	padding-right: 25px;
	font: 12px Arial;
	color: #eeeeee;
}
.tab article ul{
	margin-top: 15px;
	margin-bottom: 15px;
}
.tab ul {
	margin-left: 15px; 
	list-style-type: disc;
}
.tab ul li{
	color: #eeeeee;
}
.left-col{
	float: left;
}
.right-col{
	float: right;
}
.tab .col{
	width:230px;
	text-align: justify;
}
footer{
	clear: both;
	height: 14px;
	font: normal 12px Arial;
	color: #979797;
}